body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    max-width: 1600px;
    width: 100%;
    box-sizing: border-box;
}


/*CSS index side*/
header {
    text-align: center;
    width:100%;
    padding: 0;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    order: -1;
}

.navbar {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    position: relative;
    display: block;
    list-style: none;
    margin: auto;
}

.navbar li {
    margin-right: 15px;
}

.btn-yellow {
    background-color: #e6bd43;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0,5rem;
    height: 36px;
    width: 90px;
}